<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RecordatorioApp"
        tools:targetApi="31">
        <activity
            android:name=".AlimentoCrearActivity"
            android:exported="false"
            android:label="@string/title_activity_alimento_crear"
            android:theme="@style/Theme.RecordatorioApp" />
        <activity
            android:name=".AlimentosListaActivity"
            android:exported="false"
            android:label="@string/title_activity_alimentos_lista"
            android:theme="@style/Theme.RecordatorioApp" />
        <activity
            android:name=".SeleccionarOpcionActivity"
            android:exported="false"
            android:label="@string/title_activity_seleccionar_opcion"
            android:theme="@style/Theme.RecordatorioApp" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.RecordatorioApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>